<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DLaB.Xrm.2016" version="1.3.0.2" targetFramework="net452" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.0.7" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.0.7" targetFramework="net452" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5" targetFramework="net452" />
  <package id="Rappen.Xrm.JonasPluginBase" version="8.2017.3.7" targetFramework="net452" />
</packages>